@media screen
and (min-width:  1000px)
and (max-width : 1200px) {
  
}

@media screen
and (min-width:  768px)
and (max-width : 999px){
    
}

@media screen
and (min-width:  651px)
and (max-width : 767px){
    .logo, .cogen-systems {
        max-width: 100%;
    }


}

@media screen
and (min-width:  411px)
and (max-width : 650px){
    .logo, .cogen-systems {
        max-width: 400px;
    }  
}

@media screen
and (min-width : 410px)
and (max-width : 559px) {
    body {
        overflow-x: hidden;
    }

    .logo, .cogen-systems, .cogen-image {
        max-width: 300px;
        /*width: 100%;*/
        box-sizing: border-box;
    }  
    /*.cogen-systems, .cogen-image{
        width: 130%;
    }*/
}

  

@media screen
and (min-width : 150px)
and (max-width : 409px) {
     body {
        overflow-x: hidden;
    }

    .logo, .cogen-systems, .cogen-image {
        max-width: 200px;
        /*width: 100%;*/
        box-sizing: border-box;
        margin: 15px;
    }

    h1,  h2 {
        font-size: 180%;
    }

    /*.cogen-systems, .cogen-image::after{
        width: 130%;
    }*/
}