body {
	/*font-family: 'Times New Roman', Georgia, Serif;*/
	font-family: 'Baloo', cursive;
	font-size: 1.69em;
	/*font-size: 7vw;*/
}

h1, h2 {
	/*font-family: 'Exo 2', sans-serif;*/	
	font-family: 'Times New Roman', Georgia, Serif;
	font-size: 2.8em;
	font-weight: bold;
}

.thanx {
	font-size: 0.8em;
	font-family: 'Times New Roman', Georgia, Serif;
}

.logo {
	width: 600px;
	color: #E33246;
	font-family: 'Times New Roman', Georgia, Serif;
}

.logo-div {
	background-color: #fff;
	width: 600px;
}

.separate {
	margin-bottom: 25px;
}

.parallax {
    /* The image used */
    background-image: url("/images/cogen-stacks-2.jpg");

    /* Set a specific height */
    height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Images*/
.cogen-image {
	max-width: 270px;
}

.cogen-systems {
	max-width: 600px;
}

.cogen-image, .cogen-systems {
	margin: 10px;
}
/*Images End*/
