body {
	/*font-family: 'Times New Roman', Georgia, Serif;*/
	font-family: 'Baloo', 'Times New Roman', Georgia, Serif, cursive;
	font-size: 1.69em;
	/*font-size: 7vw;*/
	/*overflow-x: hidden;*/
}

h1, h2 {
	/*font-family: 'Exo 2', sans-serif;*/	
	font-family: 'Times New Roman', Georgia, Serif;
	font-size: 2.8em;
	font-weight: bold;
}

.thanx {
	font-size: 0.8em;
	font-family: 'Times New Roman', Georgia, Serif;
}

.logo {
	max-width: 600px;
	color: #E33246;
	z-index: 1;
	position: absolute;
    top: -253px;
    left: -35px;
}	

h1.text-center.logo {
   font-family: 'Times New Roman', Georgia, Serif;
   font-size: 1vw;     
   z-index: 3;
}

.logo-div {
	background-color: #fff;
	width: 600px;
}

.separate {
	margin-bottom: 25px;
}

.parallax {
    /* The image used */
    /*background-image: url("/images/cogen-img-2017/roof-hr-stcks-2.jpg");*/

    /* Set a specific height */
    height: 1200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*Images*/
.cogen-image {
	max-width: 270px;
}

.cogen-systems {
	max-width: 600px;
}

.cogen-image, .cogen-systems {
	margin: 10px;
}

.parent-stacks {
	position: relative;
	top: 0;
	left: 0;
}

.cogen-stacks {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

/*Images End*/
