body {
	font-family: 'Times New Roman', Georgia, Serif;
}

.logo {
	width: 600px;
	color: #E33246;
}

.logo-div {
	background-color: #fff;
	width: 600px;
}

.separate {
	margin-bottom: 25px;
}

.parallax {
    /* The image used */
    background-image: url("/images/cogen-stacks-2.jpg");

    /* Set a specific height */
    height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Images*/
.cogen-image {
	max-width: 270px;
}

.cogen-systems {
	max-width: 100%;
}
/*Images End*/